$main-color: #0094da;
$bck-color: #fff;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App{
    margin-top: 10%;
  }

  .quiz-container{
    margin: auto;
    width: 60%;
  }

  .question-text{
    text-align: left;
    padding: 5px;
    color: $bck-color;
    font-weight: 500;
  }

.question{
 
    border: 0.2px solid green;
    padding: 10px;
    background:$main-color!important;

    h4{
        background-color: $bck-color;
        color: #0b0e21;
        display: inline-block;
        padding: 10px 25px;
        font-size: 20px;
        font-weight: 600;
      }

      .timer{
        background-color: $bck-color;
        color: #0b0e21;
        display: inline-flex;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        margin-left: 2px;
      }
}

.answers{
    ul{
        list-style-type: none;
          padding: 0;
          margin-top: 50px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      li{
        background-color: $bck-color;
        border: 2px solid $main-color;
        min-height: 70px;
        width: 48%;
        display: flex;
        margin-bottom: 30px;
        transition: color .3s ease, border-color .3s ease, transform .3s ease;
        cursor: pointer;
        &:hover {
            transform: scale(1.03);
        }
        span {
            background-color: $main-color;
            color: $bck-color;
            font-size: 30px;
            flex: 75px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .3s ease;
          }
      }

      p{
        padding: 5px;
      }
      
}

.button {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
  
  label,
  input {
    display: block;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    height: 22px;
  }
  
  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
  }
  
  input.error {
    border-color: red;
  }
  
  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    background-color: 250ms;
  }
  
  button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(70, 153, 179);
  }
  